*{
    /* font-family: 'Poppins', sans-serif; */
}
span{
    color: rgb(171, 171, 238);
}
.home{
    width: 109%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 30% 0;
}
.home-content{
    /* to center text 
    margin-left: auto;
    margin-right: auto;
    width: 100x;
    */
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    font-weight: bold;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.img-box img{
    border-radius: 50%;
    width: 550px;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px sold rgb(171, 171, 238);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: rgb(171, 171, 238);
}
.footer .copyright{
    text-align: center;
    font-size: 14px;
    color: white;
}